.users_info{
    overflow-x: scroll;
    scrollbar-width: none;
    height: 480px;
    margin: 50px;
    box-shadow: 15px 15px 30px rgb(1, 5, 24),
    -15px -15px 30px rgb(18, 49, 151);
    border-radius: 25px;
    border: 1px solid rgb(1, 5, 24);
    padding: 50px;
    color: white;
}
.btn_users{
    font-family: 'Arvo';
    font-size: 15px;
    height: 30px;
    border-radius: 5px;
    border: none;
    width: 150px;
    color: white;
    border: 1px solid white;
    background-color: rgb(2, 8, 51);
    transition: transform 0.2s ease-in-out, width .5s ease;
}
.btn_users:hover{
    transform: scale(1.05);
    width: 160px;
    background-color: rgb(0, 27, 203);
}
.users_div{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 50px;
    width: 1300px;
    box-shadow: 15px 15px 30px rgb(1, 5, 24);
    backdrop-filter: brightness(1.2);
    border-radius: 25px;
    word-spacing: 7px;
}
.div_users{
    width: 300px;
}
.div_user_info{
    display: flex;
}
.list_users{
    list-style: decimal;
    line-height: 1.5;
}

.form_crud{
    margin-top: 120px;
}
.username_input, .mail_input, .password_input{
    margin-right: 10px;
    margin-top: 10px;
    height: 30px;
    width: 200px;
    border-radius: 5px;
    border: none;
    text-indent: 10px;
}
.username_input:focus, .mail_input:focus, .password_input:focus{
    outline: none;
}


.buttons{
    margin-left: 29px;
}
.crud_c, .crud_u, .crud_d{
    margin-top: 15px;
    margin-right: 20px;
    width: 175px;
    height: 35px;
    border: none;
    background: transparent;
    font-family: 'Arvo';
    border-radius: 5px;
    transition: transform 0.3s ease-in-out, background-color 0.5s ease, color 0.4s ease-in-out;
}
.crud_c{
    color: rgb(0, 239, 68);
    border: 2px solid;
}
.crud_u{
    color: rgb(20, 153, 255);
    border: 2px solid;
}
.crud_d{
    color: rgb(255, 0, 55);
    border: 2px solid;
}

.crud_c:hover{
    color: white;
    background-color: rgb(0, 239, 68);
    transform: scale(1.05);
}

.crud_u:hover{
    color: white;
    background-color: rgb(20, 153, 255);
    transform: scale(1.05);
}

.crud_d:hover{
    color: white;
    background-color: rgb(255, 0, 55);
    transform: scale(1.05);
}

.new_info{
    margin-top: 20px;
    margin-left: 29px;
    display: flex;
}

.update_description{
    margin-left: 29px;
    margin-bottom: 0px;
    margin-top: 30px;
}
.up_btn{
    font-family: 'Arvo';
    height: 30px;
    width: 100px;
    margin-top: 11px;
    border-radius: 5px;
    color: white;
    border: 2px solid;
    background: transparent;
    transition: transform 0.3s ease-in-out, background-color 0.5s ease, color 0.4s ease-in-out;
}
.up_btn:hover{
    color: white;
    background-color: rgb(20, 153, 255);
    transform: scale(1.05);
}