.navbar{
    color: white;
    background: radial-gradient(circle at top,rgb(3, 48, 127), rgb(1, 7, 33) 90%);
    border-bottom: 2px solid white;
    border-top: 2px solid black;
    height: 50px;
    display: flex;
    justify-content: space-between;
    font-family: 'Arvo', sans-serif;
    font-size: larger;
    
}

.nav_title{
    transform: translateY(-10px);
}


span{
    transform: translateY(6px);
    margin-right: 5px;
}